<h1>Stats</h1>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>

<% if @status %>

<div class="row">
	<div class="col-sm-6">
		<h4>Status</h4>
		<%= pie_chart @status %>
	</div>
	<div class="col-sm-6">
		<h4>Category</h4>
		<%= pie_chart @category %>
	</div>
</div>

<div>
	<h4>Screams per Administration</h4>
	<%= column_chart  @administration %>
</div>

<div class="row">
	<div class="col-sm-6">
		<table class="table table-striped table-bordered">
			<tbody>
				<tr>
					<td>Average assignment time</td>
					<td><%= @assign_time %> day(s)</td>
				</tr>
				<tr>
					<td>Average resolution time</td>
					<td><%= @close_time %> day(s)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<% else %>
Stats can't be generated. No screams in the system.
<% end %>